
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @row['title'] %></h3>
  </div>
  <div class="panel-body">
    <%= @row['content'] %>
    <br>

    <br>
    <h5><strong> Дата создания: <%= @row['datetime']%></strong></h5>
    <br>  
  </div>
</div>



<form action="/details/<%= @row['id']%>" method="POST">

  

  
  <textarea name="content" class="form-control" rows="1" placeholder="Type post text hare"></textarea>
  
  <button type="submit" class="btn btn-primary">Добавить коментарий</button>
</form>