
	
	

	  

	
<% @results.each do |row| %>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= row['title'] %></h3>
  </div>
  <div class="panel-body">
    <%= row['content'] %>
  </div>
</div>

<% end %>