
	
	

	  

	
<% @results.each do |row| %>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Автор: <%= row['title'] %></h3>
    
    <span style="font-size: 75%; color: #999"> Добавлен: <%= row['datetime']%></span>
  </div>
  <div class="panel-body">
    <%= row['content'] %>
    <br>

    
    
    <br>
    <a href="/details/<%= row['id'] %>">Оставить коментарий</a>
    
  </div>
</div>
<br>
<% end %>