<h2>Add new post</h2>


<form action="/new" method="POST">
  <textarea name="textarea" class="form-control" rows="10" placeholder="Type post text hare"></textarea>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>