<h2>Add new post</h2>


<form action="/new" method="POST">

	<input name="title" type="text" class="form-control" rows="1" placeholder="TITLE POST" value="<%=@title%>">

  <textarea name="content" class="form-control" rows="10" placeholder="Type post text hare"></textarea>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>