<h2>Add new post</h2>


<form action="/new" method="POST">

	<textarea name="title" class="form-control" rows="1" placeholder="TITLE POST"></textarea>

  <textarea name="content" class="form-control" rows="10" placeholder="Type post text hare"></textarea>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>